.parameter{
    margin-bottom: 1rem;
}

.parameter-title{
    color: rgba(73, 135, 175, 1);
    font-size: 16pt;
    margin-bottom: .5rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}